!!! Strict
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Tracker Reporter
  %body
    #container
      #header
        %ul.navigation
          - if loggedin? 
            %li #{request.cookies["username"]}
            %li 
              %a{:href=> "/logout"} Logout
          - else
            %li Not Logged In
            %li
              %a{:href=> "/login"} Login
      #content
        = yield